body {
  font-family: helvetica, sans-serif;
}
.header {
  background: url('../images/headerbg.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 450px;
  position: relative;
}
.navbar {
  text-align: center;
  padding: 10px;
  margin: 10px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.3);
}
.navbar a {
  padding: 10px 20px;
  color: #ffffff;
  text-decoration: none;
}
.navbar a:hover {
  background-color: #DA70D6;
  color: #000000;
}
.about {
  max-width: 500px;
  min-width: 300px;
  text-align: center;
  margin: 0 auto;
  padding: 0px 10px 10px 10px;
}
.about h2 {
  font-size: 40px;
  color: #551A8B;
  text-align: center;
}
img {
  height: 250px;
  float: left;
  border-radius: 100%;
  border: solid 1px;
  margin: 0px 10px 0px 0px;
}
.blurb {
  text-align: left;
  padding: 20px 10px;
}
.whatcanido {
  text-align: center;
  position: relative;
  top: 40px;
}
.ican {
  border: 1px solid #466995;
  display: inline-block;
  margin: 10px 20px;
  width: 250px;
  vertical-align: top;
  padding: 0px 10px 40px 10px;
  text-align: center;
  height: 225px;
  position: relative;
  background-color: #D3D3D3;
}
.ican li {
  text-align: left;
}
.button {
  background-color: #DA70D6;
  border-radius: 15px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  vertical-align: bottom;
  position: absolute;
  bottom: 15px;
  right: 63px;
  }
